.sidebar {
    border: 1px solid #000;
    height: 100vh;
    flex: 0.2;
    color: #fff;
    background-color: #040404;
    min-width: 230px;
    padding: 0 10px;

    &__logo {
        // object-fit: contain;
        margin-right: auto;
        height: 70px;
        margin: 10px;
    }

    &__title {
        margin-left: 10px;
        padding: 5px;
        font-size: 12px;
    }

    & > hr {
        border: 1px solid #282828;
        width: 90%;
        margin: 10px auto;
    }

    & > p {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 14px;
    }
}