.body {
    padding: 30px;
    flex: 0.8;
    height: 100vh;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
    color: #fff;
    overflow-y: overlay;

    &::-webkit-scrollbar {
        display: none;
    }

    &__info {
        display: flex;
        align-items: flex-end;
        padding: 10px;

        & > img {
            background-color: #fee;
            width: 150px;
            height: 20vh;
            margin: 0 20px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        margin: 20px 0 20px 50px;
    }
    
    &__icons > .MuiSvgIcon-root {
        margin-right: 20px;
    }

    &__songs {
        margin: 20px -30px;
    }
    
    &__shuffle {
        font-size: 80px !important;

        &:hover {
            transition: transform .1s ease-in-out;
            transform: scale(1.08);
        }
    }

    &__infoText {
        flex: 1;

        
        & > h2 {
            font-size: 48px;
            margin-bottom: 10px;
        }

        & > p {
            font-size: 14px;
        }
    }
    
}