.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding: 20px;
    
    &__left {
        flex: 0.3;
        display: flex;
        align-items: center;
        color: white;
        width: 300px;
    }

    &__albumLogo {
        height: 60px;
        width: 60px;
        margin-right: 20px;
        object-fit: contain;
        background-color: yellowgreen;
    }

    &__green {
        color: #1ed15e;
    }

    &__songInfo > h4 {
        margin-bottom: 4px;
    }

    &__songInfo > p {
        font-size: 12px;
    }

    &__center {
        flex: 0.4;
        padding: 0 100px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 300px;
    }

    &__icon:hover,
    &__green:hover {
        transition: transform .3s ease-in-out;
        transform: scale(1.2);
    }
    
    &__right {
        flex: 0.3;

        & * .MuiSlider-root {
            color: green;
        }
    }
    
}